{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove Item</th>
    </tr>
    </thead>
    <tbody>
    {% for item in shop %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{item.product.name}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
        <td>{{item.total_price}}</td>
        <td>
            <a href="{% url 'shop:remove_cart' item.product.id %}">
                <button type="button" class="btn-close" aria-label="Close" style="background-color: red"></button>
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td>Total</td>
        <td colspan="4"></td>
        <td>{{ shop.get_total_price }}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="{% url 'orders:create' %}">Checkout</a>
{% endblock %}