{% extends 'base.html' %}
{% block content%}
<h3>Checkout</h3>
<p>Total : {{ order.get_total_cost }}</p><br/>
<!--because we do not have the merchant ID-->
<!--    <a href="{% url 'orders:payment' order.id order.get_total_cost %}" class="btn btn-primary">Pay</a>-->
<form method="post" action="{% url 'orders:coupon_apply' order.id %}">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Apply">
</form>
<br/>
<a href="{% url 'cart:home' %}" class="btn btn-primary">Pay</a>
{% endblock %}